<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600279467151-jfi3ek758pp3u2ds5s8omfuqcutmr2p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600279467151-jfi3ek758pp3u2ds5s8omfuqcutmr2p2</string>
	<key>API_KEY</key>
	<string>AIzaSyAGAYsHlFiMOsoeQc5nEdIlLZAbrmwRFcY</string>
	<key>GCM_SENDER_ID</key>
	<string>600279467151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourvone.vOneFlutterChat</string>
	<key>PROJECT_ID</key>
	<string>yourvone-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>yourvone-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600279467151:ios:3eaf9139827167e7405cfa</string>
	<key>DATABASE_URL</key>
	<string>https://yourvone-chat.firebaseio.com</string>
</dict>
</plist>